<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
</h:head>
<ui:composition template="/welcomeV1.xhtml">
	<ui:define name="CSS">
		<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
	</ui:define>

	<ui:define name="myContent">
		<h:form>
		
			<div class="product-card">
			
				<div class="product-images">
					<h:graphicImage class="main-photo"
						url="images/#{catalogueMBean.currentProduct.photos[0].path}" alt="photo du produit" />
					<div class="product-photos">
						<ui:repeat var="photo"
							value="#{catalogueMBean.currentProduct.photos}">
								<h:graphicImage class="" height="200"
										url="images/#{photo.path}" alt="photo du produit" />
						</ui:repeat>
					</div>
				</div>
				
				<div class="product-attributes">
					<div>
						<h1>#{catalogueMBean.currentProduct.name}</h1>
					</div>
					<div>
						<h:outputText value="#{catalogueMBean.currentProduct.description}"/>
					</div>
					<div >
						<h:outputText value="#{catalogueMBean.currentProduct.price}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText> €
						<div class="promo-value">
						<h:outputText  value="#{catalogueMBean.getPromo(catalogueMBean.currentProduct)}" />
						</div>
					</div>
						<div class="new-price">
						<h:outputText value="#{catalogueMBean.calculateNewPrice(catalogueMBean.currentProduct)}"/>
						</div>
						<h:commandButton value="ajouter"
								actionListener="#{catalogueMBean.doAddToCart(catalogueMBean.currentProduct)}">
						</h:commandButton>
			</div>
			</div>
		</h:form>
	</ui:define>

</ui:composition>
</html>
