<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet name="CSS/mainAdmin.css"></h:outputStylesheet>
</h:head>
<ui:composition template="/welcomeAdmin.xhtml">
	<ui:define name="CSS">
		<h:outputStylesheet name="CSS/mainAdmin.css"></h:outputStylesheet>
	</ui:define>
	<ui:define name="myContent">
	<div id="ourContent">
		<h1>STOCKS :</h1>
		<br />
		<div class="product-list">
			<ui:repeat var="product" value="#{productMBean.products}">
				<div class="elt">
					<h:form>
							<h:outputLabel styleClass="h1">#{product.name}</h:outputLabel><br/>
							<h:outputText value="#{product.price}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText> €
							<br />
							En stock : #{stockMBean.findTotalQuatity(product)}<br />
							Stock minimum : #{stockMBean.findTotalMinStock(product)}
										<h:outputLabel styleClass="errorBlock"
				value="#{stockMBean.message}" />
				
					</h:form>
				</div>
			</ui:repeat>
		</div>
	</div>

	</ui:define>

</ui:composition>
</html>
