<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>BOUTIQUE SPORT</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="CSS/main.css" />
</h:head>
<h:body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper"> 
		<h:form>
		<nav id="nav">
			<div class="logo">
				<a href="clientMain.xhtml"><h:graphicImage styleClass="logoPicture" value="/images/CourseCircuitLogo.jpg" alt="Insérez ici du contenu"/></a>
			</div>
			<ul>
				<li><h:commandLink value = "Tous les produits" action = "#{searchProductMBean.getAll()}"/></li>
				<li><h:commandLink value = "Femme" action = "#{searchProductMBean.searchByCustomerGender(2)}"/>
				<ul>
					<li>Sportwear
						<li><h:commandLink styleClass="lien" value = "T-shirt" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(2,1)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Chaussure" action ="#{searchProductMBean.searchByCustomerGenderAndCategory(2,5)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Legging" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(2,3)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Pull" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(2,2)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Jogging" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(2,4)}"/></li>
					</li>
					<li>Sport
						<li><h:commandLink styleClass="lien" value = "Ski" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,1)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Surf" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,2)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Randonnée" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,3)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Trek" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,4)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Fitness" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,5)}"/></li>
						<li><h:commandLink styleClass="lien" value = "X-Trem" action = "#{searchProductMBean.searchByCustomerGenderAndSport(2,6)}"/></li>
					</li>
				</ul></li>
			<li><h:commandLink value = "Homme" action = "#{searchProductMBean.searchByCustomerGender(1)}"/>
				<ul>
					<li>Sportwear
						<li><h:commandLink styleClass="lien" value = "T-shirt" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(1,1)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Chaussure" action ="#{searchProductMBean.searchByCustomerGenderAndCategory(1,5)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Legging" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(1,3)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Pull" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(1,2)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Jogging" action = "#{searchProductMBean.searchByCustomerGenderAndCategory(1,4)}"/></li>

					</li>
					<li>Sport
						<li><h:commandLink styleClass="lien" value = "Ski" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,1)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Surf" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,2)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Randonnée" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,3)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Trek" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,4)}"/></li>
						<li><h:commandLink styleClass="lien" value = "Fitness" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,5)}"/></li>
						<li><h:commandLink styleClass="lien" value = "X-Trem" action = "#{searchProductMBean.searchByCustomerGenderAndSport(1,6)}"/></li>
					</li>
				</ul></li>
				<li><a href="stock.xhtml">Gestion des stocks</a></li>
				<li><a href="createProduct.xhtml">Ajouter un produit</a></li>
				<li><a href="createPromotion.xhtml">Créer une Promotion</a></li>
			</ul>
		</nav>
		</h:form>
		</section>
		<div class="ourContent">
			<ui:insert name="myContent">
			</ui:insert>
		</div>

		<!-- Main -->


	</div>

	<!-- Scripts -->
	<script src="JS/jquery.min.js"></script>
	<script src="JS/jquery.dropotron.min.js"></script>
	<script src="JS/browser.min.js"></script>
	<script src="JS/breakpoints.min.js"></script>
	<script src="JS/util.js"></script>
	<script src="JS/main.js"></script>
</h:body>
</html>
